.button-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:first-of-type) {
      margin-left: 10px;
    }
  }
}

.button {
  font-size: 14px;
}

.button-primary {
  min-width: 100px;
  padding: 10px 5px;
  border: 2px solid #036;
  border-radius: 4px;
  font-size: 14px;
}

.button-secondary {
  min-width: 100px;
  padding: 10px 5px;
  border: 2px solid #0e1318;
  border-radius: 4px;
  font-size: 14px;
}

button[disabled="disabled"] {
  cursor: not-allowed;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.add-button {
  min-width: 180px;
  padding: 8px 10px;
  font-size: 16px;
  color: #fff;
  background: #036;
  position: relative;

  &:hover:not([disabled]) {
    opacity: .7;
  }

  &[disabled="disabled"] {
    background: #b5b5b5;
    cursor: default;

    &:hover {
      background: #b5b5b5;
      color: #fff;

      > span {
        &:before,
        &:after {
          background: #fff;
        }
      }
    }
  }

  > span {
    padding-left: 24px;
    position: relative;

    &:before,
    &:after {
      content: "";
      display: block;
      background: #fff;
      position: absolute;
      left: 0;
    }

    &:before {
      width: 15px;
      height: 1px;
      top: 11px;
    }

    &:after {
      width: 1px;
      height: 15px;
      top: 4px;
      left: 7px;
    }
  }
}
