
body {
  background: #eee;
  color: #0e1318;
  font-family: Arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: .3s;

  &:active,
  &:visited {
    color: #333;
  }

  &:hover,
  &:focus {
    opacity: .7;
  }

  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: .3s;

  &:hover,
  &:focus {
    opacity: .7;
  }
}

ul,
ol {
  list-style: none;
}

.content {
  padding: 40px 0;
}

.content-inner {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
}
